/* @import './App.css';

.about {
  height: 69vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about p {
  font-size: 18px;
  color: black;
}

.about p a {
  color: var(--mainCollor);
}

.about p a:hover {
  color: var(--secondaryCollor);
} */