:root {
  --mainCollor: rgb(2, 226, 255);
  --secondaryCollor: rgb(5, 21, 252);
}

textarea:focus, input:focus, select:focus{
  outline: none;
}
select {
  -webkit-appearance: none;
}
hr {
  margin: 0 0 10px 0 !important;
}

td {
  text-align: left
}

