:root {
  --mainCollor: rgb(145, 121, 40);
  --secondaryCollor: rgb(5, 21, 252);
  --backgroundCollor: rgb(201, 248, 201);
}

* {
  margin: 0;
  padding: 0;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* .wrapper {
  background-color: var(--backgroundCollor);
} */

a:hover {
  text-decoration: none;
  color: unset;
}

textarea:focus, input:focus, select:focus{
  outline: none;
}
select {
  -webkit-appearance: none;
}
select option {
  background: rgba(255, 255, 255);
}
hr {
  margin: 0 0 10px 0 !important;
}

td {
  text-align: left
}

hr {
  border-top: 1px solid rgba(0,0,0);
  margin: 0px !important;
}

input::-webkit-calendar-picker-indicator {
	display: none;
}

.searchInput::placeholder {
  color: red;
  font-size: 12px;
};