.currency {
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 10px;
  box-shadow: 10px 10px 10px #bcc3ca;
  margin: 10px 0 30px 0;
}

.currency-base {
  text-align: left;
  padding-left: 30px;
}
.currency-base p {
  margin: 0px !important;
}

.currency-base-number {
  font-size: 40px;
}

.currency-base-state {
  font-size: 25px;
  padding: 0 0 0 10px;
}

.currency-base-span {
  padding: 0 10px;
}

.currency-select {
  border: none !important;
  margin: 0 5px 0 20px;
  background-color: rgba(245, 245, 245, 0.5);
}

.currency-select select::-ms-expand {
  -webkit-appearance: none;
}

/* .currency-select__control {
  height: 50pcx
} */

.currency-val {
  margin: 5px;
  padding: 5px 0 5px 15px;
  border: none;
  border:solid 1px #ccc;
  border-radius: 10px;
  color: rgb(141, 141, 141)
}