@import './App.css';

.footer {
  text-align: center;
  margin-bottom: 10px;
}

.footer-Div {
  margin: 10px 0;
  background-color: var(--mainCollor);
}
.footer-Logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-Logo-Div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-Logo  span{
  margin: 10px 0;
  color: white;
}

.footer-Links {
  padding-bottom: 15px;
}

.footer-Info {
  color: white;
  text-align: left;
}

.footer-Info p {
  margin-bottom: 0px;
  margin: 10px 0 5px 0;
}


.footer-Links i {
  color: white;
  transition: 0.5s;
}

.footer-Links i:hover {
  color: var(--blue);
  transition: 0.5s;
}

.footer-Links span a {
  padding: 5px 40px 5px 0; 
  margin: 5px 0;
  border-radius: 10px;
  font-size: 24px;
}

/* ==================================== */

@media (min-width: 320px) and (max-width: 576px) {
  .footer-Logo{
    padding: 10px 0 0 0;
  }
  .footer-Logo-Div {
    font-size: 14px;
  }
  .footer-Info {
    text-align: center;
  }
  .footer-Links span a {
    padding: 0px 20px;
    font-size: 20px;
  }
}

@media (min-width: 481px) and (max-width: 576px) {
  .footer {
    font-size: 18px;
  }
  .footer-Links span a {
    font-size: 22px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .footer-Info {
    text-align: left;
  }
  .footer-Info p {
    padding-left: 10px;
  }
  .footer-Links span a {
    padding: 0px 14px;
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer-Info p {
    padding-left: 14px;
  }
  .footer-Links span a {
    padding: 0px 17px;
    font-size: 22px;
  }
}