.modal-div {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 70px 200px;
}

.modal-center {
  height: 80vh;
}

.modal-content {
  background-color: rgb(233, 232, 232);
  border-radius: 10;
  max-height: 100%;
  overflow-y: auto;
  margin: 0 auto;
  padding: 30px 80px;
  position: relative;
}

.modal-thead {
  font-size: 25px;
}

.modal-btn {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 18px;
  text-shadow: 2px 2px 2px grey;
}
.first-td {
  padding: 5px;
}
.modal-flag {
  margin: 0 20px 0 0;
}
.modal-btn:hover{
  cursor: pointer;
}
.modal-btn::before {
  content: '';
  position: absolute;
  bottom: -7px;
  right: 0xp;
  width: 100%;
  height: 1px;
  margin-bottom: 7px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}
.modal-btn:hover::before {
  transform: scale(1);
  transform-origin: left;
}
.onClickCloseButton {
  text-shadow: 0.1px 0.1px 0.1px grey;
  transition: 0.5s
};