.modal-div {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 70px 200px;
}

.modal-center {
  height: 80vh;
}

.modal-flag-country {
  display: inline;
}

.modal-content {
  background-color: rgb(233, 232, 232);
  border-radius: 10;
  max-height: 100%;
  overflow-y: auto;
  margin: 0 auto;
  padding: 30px 80px;
  position: relative;
}

.modal-thead {
  font-size: 25px;
}

.modal-btn {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 18px;
  text-shadow: 2px 2px 2px grey;
}
.first-td {
  padding: 5px;
}
.modal-flag {
  margin: 0 20px 0 0;
}
.modal-btn:hover{
  cursor: pointer;
}
.modal-btn::before {
  content: '';
  position: absolute;
  bottom: -7px;
  right: 0xp;
  width: 100%;
  height: 1px;
  margin-bottom: 7px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}
.modal-btn:hover::before {
  transform: scale(1);
  transform-origin: left;
}
.onClickCloseButton {
  text-shadow: 0.1px 0.1px 0.1px grey;
  transition: 0.5s
}

/* ==================================== */

@media (min-width: 320px) and (max-width: 420px) {
  .modal-div {
    padding: 50px;
    font-size: 10px;
  }
  .modal-content {
    padding: 30px 10px 10px 10px;
  }
  .modal-flag-country {
    font-size: 7px;
    display: block;
    margin-bottom: 0px !important;
  }
  .modal-thead {
    font-size: 10px;
  }
  .modal-currency {
    padding: 0 10px;
  }
  .modal-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 10px;
  }
}

@media (min-width: 421px) and (max-width: 481px) {
  .modal-div {
    padding: 50px;
    font-size: 13px;
  }
  .modal-content {
    padding: 30px 10px 10px 10px;
  }
  .modal-flag-country {
    font-size: 9px;
    display: block;
    margin-bottom: 0px !important;
  }
  .modal-thead {
    font-size: 13px;
  }
  .modal-currency {
    padding: 0 10px;
  }
  .modal-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 12px;
  }
}

@media (min-width: 481px) and (max-width: 576px) {
  .modal-div {
    padding: 50px;
    font-size: 16px;
  }
  .modal-content {
    padding: 30px 10px 10px 10px;
  }
  .modal-flag-country {
    font-size: 11px;
    display: block;
    margin-bottom: 0px !important;
  }
  .modal-thead {
    font-size: 16px;
  }
  .modal-currency {
    padding: 0 10px;
  }
  .modal-btn {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 12px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .modal-div {
    padding: 50px;
    font-size: 20px;
  }
  .modal-content {
    padding: 40px 20px 10px 20px;
  }
  .modal-flag-country {
    font-size: 15px;
    display: block;
    margin-bottom: 0px !important;
  }
  .modal-thead {
    font-size: 20px;
  }
  .modal-currency {
    padding: 0 10px;
  }
  .modal-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1224px) {
  .modal-div {
    padding: 50px;
    font-size: 25px;
  }
  .modal-content {
    padding: 40px 20px 10px 20px;
  }
  .modal-flag-country {
    font-size: 18px;
    margin-bottom: 0px !important;
  }
  .modal-thead {
    font-size: 25px;
  }
  .modal-currency {
    padding: 0 10px;
  }
  .modal-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
  }
}

