.landing {
  background: url('../../img/Landing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:100vh;
}

.landingInfo {
  height: 40px;
  background-color: #EDE053;
  line-height: 40px;
  text-align: center;
  width:100%;
  overflow:hidden;
}

.slideFirst {
  animation-timing-function: linear;
  animation: 30s slide-First;
  margin:0;
}

.slideSecond {
  animation-timing-function: linear;
  animation: 30s slide-Second;
  margin:0;
}
@-webkit-keyframes slide-First { from { margin-left: 80%;width: 100%; }
  to {margin-left: -100%;width: 100%;} }
@-webkit-keyframes slide-Second { from { margin-left: 80%;width: 100%; }
  to {margin-left: -100%;width: 100%;} }

.landingLink {
  position: fixed;
  right: 100px;
  bottom: 50vh;
}
.divArrow {
  width: 60px;
  height: 60px;
  background: #262626;
  border-radius: 50%;
  transition: .5s;
}
.divArrow:hover {
  background: #0070ff;
}
.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid #fff;
  transition: .5s;
  top: 50%;
  right: 30%;
  transform: translateY(-50%) rotate(-45deg);
  border-left: none;
  border-top: none;
}
.arrow::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  -webkit-transform-origin: right;
  transform-origin: right;
  transform: rotate(45deg) translate(0px,20px) scale(0);
  transition: .5s;
}
.divArrow:hover .arrow::before {
  transform: rotate(45deg) translate(0px,20px) scale(1);
}