.logo {
  margin: 0 15px;
  border: 2px solid red;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo :nth-child(1) {
  background-color: red;
  border: 2px solid red;
  border-radius: 10px;
  padding: 2px;
  color: white;
}

.logo :nth-child(2) {
 margin-left: 5px; 
 text-transform: uppercase;
 font-family: 'Courier New', Courier, monospace;
 font-size: 1.1rem;
}