@import './App.css';


.searchCurrency {
  padding: 0 10px 10px 10px;
}

.selectRateBase {
  border: none !important;
  padding: 0 5px 0 5px;
  background-color: unset;
}

/* ----- *//* ----- *//* ----- */

/* Input */
.searchInput {
  z-index: -1;
  border: none;
  border-bottom: 0.5px solid;
  width: 220px;
  padding: none;
  /* background: var(--backgroundCollor); */
}

/* Error(s) */
.searchInputError {
  border-bottom: 0.5px solid red;
}

/* ----- *//* ----- *//* ----- */

.searchInfo {
  z-index: 1;
  position: relative;
  left: -15px;
  padding: 5px 0 5px 5px;
  transition: 0.5s;
  font-size: 15px;
}

.searchInfo:hover {
  cursor: pointer;
  transition: 0.5s;
  font-size: 18px;
}

/* ----- *//* ----- *//* ----- */

/* Button */
.searchButton {
  margin: 0 5px;
  background: transparent;
  border: none;
  outline: unset !important;
  text-shadow: 5px 5px 5px grey;
  transition: 0.3s;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .searchButton::before {
    width: 65px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .searchButton::before {
    width: 65px !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .searchButton::before {
    width: 65px !important;
  }
  .search-Div {
    text-align: right;
  }
  .searchCurrency {
    padding-right: 0px !important;
  }
}
@media (min-width: 421px) and (max-width: 480px) {
  .search-Div {
    font-size: 20px;
  }
  .searchButton::before {
    width: 65px !important;
  }
}
@media (min-width: 320px) and (max-width: 420px) {
  .search-Div {
    font-size: 20px;
  }
  .search-Div input {
    width: 175px;
  }
  .searchButton::before {
    width: 65px !important;
  }
}

.searchButton:hover {
  cursor: pointer;
}

.searchButton::before{
  content: '';
  position: absolute;
  bottom: 2px;
  right: 0xp;
  width: 12%;
  height: 1px;
  margin-bottom: 7px;
  background-color: black;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

.searchButtonM::before {
  transform: scale(1);
  transform-origin: left;
}

.onClickSearchButton {
  text-shadow: 0.1px 0.1px 0.1px grey;
  transition: 0.3s;
};