.tableRate {
  margin: 30px auto 0 auto;
}

.tableRate td {
  padding: 0 60px;
}

.tableRate td {
  text-align: center;
}

.tableRate tbody tr td:first-child {
  padding: 0 0 0 60px !important;
}

.tableRateDate td {
  padding-bottom: 10px !important;
}

.tableRateDate :nth-child(1){
  display: none;
}

/* ==================================== */

@media (min-width: 320px) and (max-width: 480px) {
  .tableRate td {
    padding: 0 5px;
  }
  .tableRate tbody tr td:first-child {
    padding: 0 0 0 5px !important;
  }
  .tableRateDate td{
    font-size: 12px;
  }
}

@media (min-width: 481px) and (max-width: 576px) {
  .tableRate td {
    padding: 0 7px;
  }
  .tableRate tbody tr td:first-child {
    padding: 0 0 0 15px !important;
  }
  .tableRateDate td{
    font-size: 15px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .tableRate td {
    padding: 0 30px;
  }
  .tableRate tbody tr td:first-child {
    padding: 0 0 0 30px !important;
  }
  .tableRateDate td{
    font-size: 16px;
    padding: 0 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tableRateDate td{
    font-size: 17px;
    padding: 0 40px;
  }
}