.tableRate {
  margin: 30px auto 0 auto;
}

.tableRate td {
  padding: 0 60px;
}

.tableRate td {
  text-align: center;
}

.tableRate tbody tr td:first-child {
  padding: 0 !important;
}

.tableRateDate td {
  padding: 0 0 30px 0;
}
.tableRateDate td:nth-child(2) {
  text-align: left;
}
.tableRateBaseRate td:nth-child(2) {
  padding-left: 20px;
}