@import url("https://fonts.googleapis.com/css?family=Lato|Poppins");

$primaryColor: rgb(145, 121, 40);
$secondaryColor: rgb(252, 5, 5);
$backgroundColor: rgb(201, 248, 201);
$mainWhite: #fff;
$mainBlack: #222;
$mainSpacing: 2px;
$mainBorderRadius: 4px;
$mainTransition: all 0.3s linear;

:export {
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  mainBorderRadius: $mainBorderRadius;
  mainSpacing: $mainSpacing;
  mainWhite: $mainWhite;
  mainTransition: $mainTransition;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: $mainBlack;
  background: $mainWhite;
  line-height: 1.4;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: $mainSpacing;
}

a:hover {
  text-decoration: none;
  color: unset;
}

ul {
  margin-bottom: 0px;
  li{
    list-style: none;
  }
}

hr {
  border-top: 1px solid $mainBlack;
  height: 1px;
  margin-bottom: 0px;
  padding-bottom: 1rem;
}